*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

  --color-1: #000000;
  --color-2: #FFFFFF;
  --color-3: #2ECC71;
  --color-4: #4D96FF;
  --color-5: #9B59B6;
  --color-6: #34495E;

}
